body {
    min-height: 100vh;
    background: url("./image-de-fond/image.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;


  }