.titre-portfolio {
  width: 100%;
  height: 100px;
  background-color:#06525cbc;
  box-shadow: 0px 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4cbddfde;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-style: italic;
  font-family: 'Lilita One', cursive;
  color: #c58333;
}
.initiales{
  text-transform: uppercase;
}

.titre-header{
font-style: italic;
  font-family: 'Lilita One', cursive;
  font-size: 45px;
  height: 45px;
  margin-top: 20px;
}
h1 {
color:#fa0505;
}    
.logo-twitter{
  display: flex;
  flex-wrap: nowrap;
  height: 48px;
  width: 48px;
  position:  relative;
  
}
button:hover {
    background-color: rgb(13, 135, 188);
  }
button {
    display: inline-block;
    background-color: #2b0bb6;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 230px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
}

body {
height: 100vh;
background-color: #45B3F1;
}

footer{
  bottom: -150%;
  position: absolute;
  width: 100%;
  height: 100px;
  background-color:#06525cbc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact{
  font-style: italic;
    font-family: 'Lilita One', cursive;
    font-size: 30px;
    height: 45px;
  }
  h2 {
    color:#fa0505;
  } 
  .logo-linkedin{
    display: flex;
    flex-wrap: wrap;
    height: 48px;
    width: 48px;
    position:  relative;
    margin-left: 10%;
  }
.d1 {
  width: 3840px;
  height: 720px;
  background-color: #EDEDED;
  background: url(./image-projet/36120212.webp);
  background-size: contain;
  animation: defilement1 12s linear infinite;
}
.conteneur1 {
  overflow: hidden;
  max-width: 960px;
  margin: 50px auto;
  box-shadow: 0px 15px 10px -5px #777;
}
@keyframes defilement1 {
  0%{transform: translate(0, 0);}
  100%{transform: translate(-2880px, 0);}
}
.d2 {
  width: 400%;
  height: 0;
  padding-top: 75%;
  background-color: #EDEDED;
  background: url(./image-projet/Sanstitre.webp);
  background-size: contain;
  animation: defilement1 12s linear infinite;
}
.conteneur2 {
  max-width: 960px;
  overflow: hidden;
  margin: 50px auto;
  box-shadow: 0px 0px 10px #777;
}
@keyframes defilement2 {
  0%{transform: translate(0, 0);}
  100%{transform: translate(-75px, 0);}
}




/* Media queries pour les smartphones */
@media screen and (max-width: 767px) {
.titre-portfolio {
  flex-direction: column;
  height: auto;
  align-items: center;
}
button {
  width: 120px;
  font-size: 12px;
}
.logo {
  margin-bottom: 10px;
  }
body {
  height: 100vh;
}
.conteneur1, .conteneur2 {
  width: 50%;
}
footer{
  bottom: -110%;
}
}