

body {
  height: 250vh;
  background: linear-gradient(to bottom right, blue, pink);
}
header {
  width: 100%;
  height: 100px;
  background-color:#06525cbc;
  box-shadow: 0px 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

nav a {
  font-size: 1.8rem;
  text-decoration: none;
}

nav a#logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4cbddfde;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-style: italic;
  font-family: 'Lilita One', cursive;
  color: #c58333;
}

nav ul a {
  color: #ff0101;
  font-weight: 400;
  font-family: 'Lugrasimo', cursive;
}

nav ul a:hover {
  border-bottom: 2px solid #ffffff;
}

section#home {
  height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 4rem;
}

#ham-menu {
  display: none;
  cursor: pointer;
}

nav ul.active {
  left: 0;
}
footer{
  bottom: -150%;
  position: absolute;
  width: 100%;
  height: 100px;
  background-color:#06525cbc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact{
  font-style: italic;
  font-family: 'Lilita One', cursive;
  font-size: 30px;
  height: 45px;
  color:#fa0505
}
h2 {
  color:#fa0505;
} 
.logo-twitter{
  display: flex;
  flex-wrap: nowrap;
  height: 48px;
  width: 48px;
  position:  relative;
}
.logo-linkedin{
  display: flex;
  flex-wrap: wrap;
  height: 48px;
  width: 48px;
  position:  relative;
  margin-left: 10%;
}
.d1 {
  width: 3840px;
  height: 720px;
  background-color: #EDEDED;
  background: url(./image-projet/36120212.webp);
  background-size: contain;
  animation: defilement1 12s linear infinite;
}
.conteneur1 {
  overflow: hidden;
  max-width: 960px;
  margin: 50px auto;
  box-shadow: 0px 15px 10px -5px #777;
}
@keyframes defilement1 {
  0%{transform: translate(0, 0);}
  100%{transform: translate(-2880px, 0);}
}
.d2 {
  width: 400%;
  height: 0;
  padding-top: 75%;
  background-color: #EDEDED;
  background: url(./image-projet/Sanstitre.webp);
  background-size: contain;
  animation: defilement1 12s linear infinite;
}
.conteneur2 {
  max-width: 960px;
  overflow: hidden;
  margin: 50px auto;
  box-shadow: 0px 0px 10px #777;
}
@keyframes defilement2 {
  0%{transform: translate(0, 0);}
  100%{transform: translate(-75px, 0);}
}
/* Media queries pour les smartphones */
@media screen and (max-width: 767px) {

body {
  height: 260vh;
}
#ham-menu {
  display: block;
  color: #bb5858;
  position: absolute;
  top: 20px;
  right: 20px
}

nav a#logo,
#ham-menu {
  font-size: 3.2rem;
}

nav ul {
  background-color: #4cbddff3;
  position: fixed;
  left: -100vw;
  top: 100px;
  width: 100vw;
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 1s;
  gap: 0;
}
.conteneur1 {
  width: 50%;
}
.conteneur2 {
  width: 50%;
}
footer{
  bottom: -160%;
}
}