#titre-portfolio {
  width: 100%;
  height: 100px;
  background-color:#06525cbc;
  box-shadow: 0px 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4cbddfde;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-style: italic;
  font-family: 'Lilita One', cursive;
  color: #c58333;
}

.initiales{
  text-transform: uppercase;
}
.menu{
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.titre-header{
  font-style: italic;
    font-family: 'Lilita One', cursive;
    font-size: 45px;
    height: 45px;
    margin-top: 20px;
}

h1 {
  color:#fa0505;
} 

body {
  height: 140vh;
  background-color: #45B3F1;
}

.nom-metier{
  font-size: 35px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  color: rgb(101, 6, 9);
}
.h2, .h3{
  display: flex;
  flex-wrap: wrap;
}

#A-propos{
  font-size: larger;
  margin-top: 40px;
  margin-left: 170px;
  width: 55%;
  position:relative;
  background-color: #8760eaa0;
  box-shadow: 0px 5px 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

#Experiences{
  font-size: larger;
  margin-top: 40px;
  margin-left: 20px;
  width: 40%;
  position: relative;
  box-shadow: 0px 5px 5px;
  background-color: #8760eaa0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

button:hover {
  background-color: rgb(13, 135, 188);
}

button {
  display: inline-block;
  background-color: #2b0bb6;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#Projets{
  font-size: larger;
  margin-top: 40px;
  margin-left: 20px;
  width: 40%;
  position: relative;
  box-shadow: 0px 5px 5px;
  background-color: #8760eaa0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

footer{
  bottom: -40%;
  position: absolute;
  width: 100%;
  height: 100px;
  background-color:#06525cbc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact{
  font-style: italic;
  font-family: 'Lilita One', cursive;
  font-size: 30px;
  height: 45px;
  margin-top: 10px;
  margin-left: 10px;
}

.logo-twitter{
  display: flex;
  flex-wrap:nowrap;
  height: 48px;
  width: 48px;
  position:  relative;
}

.logo-linkedin{
  display: flex;
  flex-wrap: wrap;
  height: 48px;
  width: 48px;
  position:  relative;
  margin-left: 10%;
  
}

/* Pour les tablettes en mode paysage */
@media (min-width: 768px) and (max-width: 1024px) {
  #titre-portfolio {
    height: 80px;
  }
.logo{
  width: 150px;
  height: 150px;
  font-size: 48px;
}
  .titre-header {
    font-size: 36px;
    height: 36px;
    margin-top: 15px;
  }

  .nom-metier {
    font-size: 28px;
    margin-top: 15px;
  }

  #A-propos,
  #Experiences,
  #Projets {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10px;
    width: 90%;
  }

  button {
    font-size: 16px;
    padding: 8px;
    width: 150px;
  }

  footer {
    height: 80px;
  }

  .contact {
    font-size: 24px;
    height: 36px;
    margin-top: 8px;
  }
}

/* Pour les tablettes en mode portrait */
@media (min-width: 600px) and (max-width: 767px) {
  #titre-portfolio {
    height: 60px;
  }
  .logo{
    width: 150px;
    height: 150px;
    font-size: 48px;
  }
  .titre-header {
    font-size: 30px;
    height: 30px;
    margin-top: 10px;
  }

  .nom-metier {
    font-size: 24px;
    margin-top: 10px;
  }

  #A-propos,
  #Experiences,
  #Projets {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 5px;
    width: 90%;
  }

  button {
    font-size: 14px;
    padding: 6px;
    width: 120px;
  }

  footer {
    height: 60px;
  }

  .contact {
    font-size: 20px;
    height: 30px;
    margin-top: 6px;
  }
}